#container {margin:0 auto;width:960px;text-align:left;}
#container a {font-style:normal;color:#666666;}
#header {font-size:14px;margin:35px 0 15px 0;}
#header ul {float:right;margin-top:15px;width:855px;}
#header li {border-left:1px solid #666666;text-align:center;line-height:15px;display:block; float:left; width:84px;height:15px;}
#header li.first {border:none;}
#header .current{font-weight:bold;}
#header li.mw {width:180px;text-align:right;border:none;}
#header li.ml {width:55px;}
#header li.mw span {font-weight:bold;}
#header li.mw a:hover{text-decoration:underline;}
#header li.header-sub {width:280px;border:none;}
#header li.header-sub-a {width:196px;border:none;}

.logo {float:left;background: url("../Images/logo.png") no-repeat; width:84px; height:30px;}
.logo a {display:block;width:84px; height:30px;}
.login {font-size:14px;background-color:#fff;height:600px;color:#707070;}
.login h2 {position:relative;left:0px;top:35px;font-size:25px;color:#707070;}
.login li label {display:block;float:left; width:150px;text-indent:2em; margin-right:30px;text-align:right;position:relative;}
.login input {border:none; background: #ededef; font-size:18px;width: 280px; height:30px;}
.login .btn {padding-left:400px;padding-top:10px;}
.login .btn input {width:60px;height:30px;font-size:14px;border-right:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}
.login-page {padding-top:100px;padding-left:180px;}

.searcher {border:none; background: #ededef; font-size:18px;width: 200px; height:25px;}

.menu_title {position:relative;font-size:21px;padding:20px 0;height:40px; line-height:40px; border-top:2px solid #A7A7AA;border-bottom:2px solid #A7A7AA;}
.menu_title b {margin-left:60px;}
.menu_title .expand , .menu_title .folder {position:absolute;display:block;float:left;width:29px;height:29px;background:url("../Images/add.png") no-repeat;top:25px;left:10px;}
.menu_title .folder {background:url("../Images/sub.png") no-repeat;width:19px;height:6px;top:36px;}

.menu_content {font-size:21px;background-color:#fff; padding:20px;margin:15px 0;}
.menu_content li {margin-top:10px;display:block;}
.menu_content label {color:#6d6e71;display:block;float:left; width:220px;text-indent:2em;text-align:right;}
.menu_content input {width: 260px; height:30px;font-size:21px;}
.menu_content li .dl {background:url("../Images/delete.png") no-repeat; text-indent:2em; display:block; height:22px;}

.menu_content ul.upload input {width: 236px; color:#BEBEBE;}
.menu_content ul.upload select {width:300px; height:25px;}

input.submitBtn {border:none;width:150px;height:40px;background:#fff;font-size:18px;}
.handlerArea {position:relative;padding-top:15px;}
.handlerArea a {position:absolute; right:2em;top:30px;}

.sub-menu {width:100%;height:40px;margin-left:-15px;}
.sub-menu li {font-size:14px;float: left;overflow: hidden;padding-left:10px;display:inline;line-height: 40px;height: 40px;width:80px;text-align:center;}
.sub-menu li:hover {font-weight:bold;}
.sub-menu li.first {text-align:left;padding-left:0px;font-size:20px;width:100px;height:40px;background:#EDEDEF;color:#fff;}
.sub-menu li.current {font-weight:bold;}

#footer {font-size:16px;height:60px;border-top:1px solid #A7A7AA;padding-top:20px;}
.ifooter {margin:0 auto; width:906px;padding-top:12px;border-top:1px solid #A7A7AA;font-size:12px;}
#footer h4, .ifooter h4 {float:left;}
#footer div, .ifooter div {float:right;font-weight:bold;}
#footer sup, .ifooter sup {font-size:10px;}
.sepline {margin:0 auto; width:900px;border-top:2px solid #A7A7AA;}
.foot-fix {height:60px;}

/** 公共属性写在这里 */
.fmain p {padding:10px 0;font-size:13px;}
.rowbox {width:930px;background-color:#fff;padding:0px 15px;}
.box960 .desc {font-size:18px;font-weight:bold;line-height:35px;padding:27px 0px;}
.row {margin:5px;margin: 12px 5px\9; /* for ie 9 */text-align: left;}
.line-2 {border-top:2px solid #f3f3f3;}
.menu_content label.field-label {width:140px;height:30px;text-align:right;padding-right:15px;line-height:30px;}
.menu_content .field-box {position: relative;display: inline-block;text-indent: 0;text-align:left;}
.menu_content .field-box input {height:28px;line-height:25px;}
/** 定制box */
.box960x540 {height:540px;}
.box960 {margin-top:10px;}
#homeinfo {color:#707070;}
#homeinfo li {display:block;float:left;width:270px; height:200px;padding-top:20px;}
#homeinfo li strong {font-size:25px;}
#homeinfo li.s {width:150px;}
#homeinfo li.s span {display:inline-block;font-size:14px;padding-top:8px;color:#7f7f7f;}
#homeinfo li.sep {width:1px;height:220px;border-left:1px solid #d9d9d9;margin:0 15px;padding:0px;}
.homelogin {float:left;width:436px;height:150px;}
.homelogin .login {height:100%;border-right:1px solid #d9d9d9;}
.homeloc {float:left;width:300px;margin:20px 0 0 15px;}
.homeloc span {margin-right:10px;padding-top:15px;display:block;float:left;width:150px;height:45px;border-right:1px solid #A7A7AA;font-size:25px;font-weight:bold;}

.contact {padding:30px;}
.contact div {font-size:16px;}
.contact h3 {margin-top:20px;}

.list-search {margin-left:15px;}
.list-search span {font-weight:bold;}
.list-search input {font-size:12px;}
table.listdata ,.list-search span {font-size:16px;border-collapse:collapse;width:100%;}
table.listdata tr td{padding-top:15px;text-align:left;}
table.listdata tr th {text-align:left;}

table.listad {font-size:16px;border-collapse:collapse;width:50%;}
table.listad tr td{padding-top:15px;text-align:left;}
table.listad tr th {text-align:left;}
table.listad td a {background:url("../Images/delete.png") no-repeat;width:17px;height:22px;display:block;}

.pager {text-align:center;padding:30px 0;}
.pager span,.pager a{font-size:20px;display:inline-block;height:30px;line-height:30px;padding:5px;color:#6d6e71;}
.pager span.first,.pager span.last,.pager span.prev,.pager span.next {font-size:14px;font-weight:bold;}
.pager span.current {border:1px solid #A7A7AA;font-weight:bold;}

/*tv gallery list*/
.tv-gallery{width:906px;float:left;}
.tv-gallery .h3{}
.tv-gallery-list{margin-left:-83px}
.tv-gallery-list li{width:400px;float:left;margin-bottom:16px;margin-left:83px;_display:inline;}
.tv-gallery-list .title{text-align:center;font-size:14px;line-height:20px;height:40px;overflow:hidden;}
.tv-gallery-list .title a{color:#b31620;}
.tv-gallery-list img{margin-bottom:6px;}
.tv-gallery-list .title i {font-style:italic;font-size:12px;}
/*kv*/
.pika-stage {position: relative; width: 960px; height:540px;}
.pika-stage .pika-aniwrap, .pika-stage .main-image {position: absolute; top: 0; left: 0;}
.pika-stage .pika-aniwrap{width:100%;}
.pika-stage .pika-ani {position:relative;display: none;z-index:2;margin:0 auto;}
.pika-stage img {border:0;width:100%;height:100%;}
.pika-stage .caption {position: absolute; background:#000; background: rgba(0,0,0,0.75);  border: 1px solid #141414; font-size: 11px; color: #fafafa; padding: 10px; text-align: right; bottom: 20px; right: 10px;}
.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}
.pika-textnav, .pika-imgnav {display:none;}
.pika-counter{display:none;position: absolute;bottom: -20px;left:15px;font-size:11px;}

/* button */
.button {height:30px;font-size:18px;font-weight:bold;text-indent: 0;outline: 0;font-family: Verdana,Arial,sans-serif;}
.button span  {display:inline-block;height:30px;line-height:30px;margin:0 5px 0 5px;}
.button span a {display:inline-block;height:30px;line-height:30px;margin:0 5px 0 35px;cursor: pointer;}
.button span a:hover{text-decoration:underline;}
.dialog .minbtn a {color:#6d6e71;}
.button span.add {background:url("../Images/add.png") no-repeat 0 0;}

/*icon*/
.valid {display:inline-block;width:32px;height:32px;background:url("../Images/icon/check.png") no-repeat 0 0;}
.paused {display:inline-block;width:32px;height:32px;background:url("../Images/icon/pause.png") no-repeat 0 0;}
.deleted {display:inline-block;width:32px;height:32px;background:url("../Images/icon/trash.png") no-repeat 0 0;}

/*pop*/
.dialog {display:none;}
.dialog .confirm-body {font-size:16px;}
.dialog .button {display:inline-block;font-weight:bold;}
.dialog .button a {display:block;color:#bebebe;padding: .4em 1em;line-height: 1.4;font-size:22px;}
.dialog .button-bar {text-align:left;padding-left:20px;}
.dialog input, .dialog select {font-size:12px;}
/*overwrite ui*/
.ui-widget-header {border:0px;background: none;}
.ui-widget-content {border:0px;overflow: hidden;}
.ui-dialog .ui-dialog-titlebar-close{width:30px;height:24px}
.ui-widget-header .ui-icon {width:30px;height:24px;background:url("../Images/close.png") 0 0 no-repeat;}
.ui-widget-header .ui-state-hover {background-image:none;border:0px;}
.ui-dialog .ui-dialog-title {font-size:16px;color:#6d6e71;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float:none;text-align:left;padding-left:50px;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:none;border:0px;font-size:22px;color:#bebebe;font-weight:bold;}