#container {margin:0 auto;width:960px;text-align:left;}
#container a {font-style:normal;color:#666666;}
#header {font-size:16px;margin-top:15px;}
#header ul {float:right; margin-bottom: 5px;width:800px;}
#header li {text-align:right;padding-top:16px;display:block; float:left; width:100px;height:40px;}
#header li.mw {width:140px;font-weight:bold;}

.logo {float:left;background: url("../Images/logo.png") no-repeat; width:110px; height:40px;}
.logo a {display:block;width:110px;height:40px;}
.login {font-size:18px;background-color:#fff;height:600px;}
.login form {position:relative;left: 250px;top:150px;}
.login h2 {position:relative;left:-30px;top:40px;}
.login li {margin-top:5px;}
.login li label {display:block;float:left; width:150px;text-indent:2em; margin-right:30px;text-align:right;position:relative;}
.login input {border:none; background: #ededef; font-size:18px;width: 280px; height:30px;}
.login .btn {padding-left:400px;padding-top:10px;}
.login .btn input {width:60px;height:30px;font-size:14px;border-right:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}

.searcher {border:none; background: #ededef; font-size:18px;width: 280px; height:30px;}

.menu_title {position:relative;font-size:21px;padding:20px 0;height:40px; line-height:40px; border-top:2px solid #A7A7AA;border-bottom:2px solid #A7A7AA;}
.menu_title b {margin-left:60px;}
.menu_title .expand , .menu_title .folder {position:absolute;display:block;float:left;width:29px;height:29px;background:url("../Images/add.png") no-repeat;top:25px;left:10px;}
.menu_title .folder {background:url("../Images/sub.png") no-repeat;width:19px;height:6px;top:36px;}

.menu_content {font-size:21px;background-color:#fff; padding:20px;margin:15px 0;}
.menu_content li {margin-top:10px;}
.menu_content li label {display:block;float:left; width:200px;text-indent:2em; margin-right:30px;}
.menu_content input {width: 350px; height:30px;font-size:21px;}
.menu_content li .dl {background:url("../Images/delete.png") no-repeat; text-indent:2em; display:block; height:22px;}
input.submitBtn {border:none;width:150px;height:40px;background:#fff;font-size:18px;}
.handlerArea {position:relative;padding-top:15px;}
.handlerArea a {position:absolute; right:2em;top:30px;}

#footer {font-size:16px;height:60px;border-top:2px solid #A7A7AA;padding-top:20px;}
.ifooter {margin:0 auto; width:900px;padding-top:15px;border-top:2px solid #A7A7AA;font-size:16px;}
#footer h4, .ifooter h4 {float:left;}
#footer div, .ifooter div {float:right;font-weight:bold;}
#footer sup, .ifooter sup {font-size:10px;}
.sepline {margin:0 auto; width:900px;border-top:2px solid #A7A7AA;}

/** 公共属性写在这里 */
.rowbox {width:960px;background-color:#fff;}
/** 定制box */
.box960x600 {height:600px;}
.box960 {margin-top:20px;}
.box960 p {font-size:26px;font-weight:bold;line-height:35px;padding:30px;}
#homeinfo {padding:20px;}
#homeinfo li {display:block;float:left;width:270px; height:200px;}
#homeinfo li strong {font-size:25px;}
#homeinfo li.s {width:150px;position:relative; top:50px; left:20px;}
#homeinfo li.s span {font-size:18px;}
.homeloc {float:left;width:300px;position:relative; top:80px; left:-40px;}
.homeloc span {margin-right:10px;display:block;float:left;padding-top:20px;width:150px;height:50px;border-right:1px solid #A7A7AA;font-size:32px;}

.contact {padding:30px;}
.contact div {font-size:16px;}
.contact h3 {margin-top:20px;}

#projectList {height:800px;}
#projectList div {width:480px;float:left;text-align:center;padding-bottom:40px;}
#projectList div a,#projectList div i{font-size:16px;display:block;with:100%;height:20px;}
#projectList div a {margin-top:10px;}
#projectList div i {font-style:italic;font-size:14px;}

table.listdata {font-size:16px;border-collapse:collapse;width:100%;}
table.listdata tr td{padding-top:15px;text-align:left;}
table.listdata tr th {text-align:left;}

table.listad {font-size:16px;border-collapse:collapse;width:50%;}
table.listad tr td{padding-top:15px;text-align:left;}
table.listad tr th {text-align:left;}
table.listad td a {background:url("../Images/delete.png") no-repeat;width:17px;height:22px;display:block;}

.pager a {font-size:24px;display:inline-block;height:30px;padding:5px;}
.pager a.first,.pager a.last,.pager a.prev,.pager a.next {font-size:16px;}
.pager a.current {border:1px solid #A7A7AA;}